# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
pip install gmaps

Requirement already satisfied: gmaps in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (0.9.0)
Requirement already satisfied: ipywidgets>=7.0.0 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from gmaps) (7.5.1)
Requirement already satisfied: geojson>=2.0.0 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from gmaps) (2.5.0)
Requirement already satisfied: ipython>=5.3.0 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from gmaps) (7.16.1)
Requirement already satisfied: six in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from gmaps) (1.15.0)
Requirement already satisfied: traitlets>=4.3.0 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from gmaps) (4.3.3)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from ipywidgets>=7.0.0->gmaps) (5.0.7)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from ipywidgets>=7.0.0->gmaps) (5.3.2)
Requirement already satisfied: backcall in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (0.1.0)
Requirement already satisfied: pygments in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (2.6.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (3.0.5)
Requirement already satisfied: setuptools>=18.5 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (49.2.0.post20200714)
Requirement already satisfied: jedi>=0.10 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (0.17.1)
Requirement already satisfied: pexpect; sys_platform != "win32" in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (4.8.0)
Requirement already satisfied: decorator in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (4.4.2)
Requirement already satisfied: pickleshare in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: ipython-genutils in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: notebook>=4.4.1 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: jupyter-core in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.6.3)
Requirement already satisfied: jupyter-client in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.6)
Requirement already satisfied: tornado>=4.2 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.4)
Requirement already satisfied: wcwidth in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.7.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from pexpect; sys_platform != "win32"->ipython>=5.3.0->gmaps) (0.6.0)
Requirement already satisfied: jinja2 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.2)
Requirement already satisfied: prometheus-client in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.0)
Requirement already satisfied: Send2Trash in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: terminado>=0.8.1 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.3)
Requirement already satisfied: pyzmq>=17 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (19.0.1)
Requirement already satisfied: nbconvert in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (5.6.1)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.16.0)
Requirement already satisfied: attrs>=17.4.0 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (19.3.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: testpath in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: bleach in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.1.5)
Requirement already satisfied: defusedxml in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: webencodings in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: packaging in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.4)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/verasong/opt/anaconda3/lib/python3.8/site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.4.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import gmaps.datasets

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# read city_data.csv
file = 'city_data.csv'
city_data = pd.read_csv(file)
city_data.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,banihal,45.52,-122.68,46.00,94,100,10.07,US,1605408266
1,1,banihal,45.52,-122.68,46.00,94,100,10.07,US,1605408175
2,2,hami,42.80,93.45,43.38,55,3,2.75,CN,1605408553
3,3,mwinilunga,-11.74,24.43,61.81,96,100,0.85,ZM,1605408682
4,4,san francisco,37.77,-122.42,54.00,66,1,11.41,US,1605408682

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
# display heatmap
locations = city_data[["Lat", "Lng"]]
humidity = city_data["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
city_data.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,banihal,45.52,-122.68,46.00,94,100,10.07,US,1605408266
1,1,banihal,45.52,-122.68,46.00,94,100,10.07,US,1605408175
2,2,hami,42.80,93.45,43.38,55,3,2.75,CN,1605408553
3,3,mwinilunga,-11.74,24.43,61.81,96,100,0.85,ZM,1605408682
4,4,san francisco,37.77,-122.42,54.00,66,1,11.41,US,1605408682

In [7]:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

filt1 = city_data['Max Temp'] > 70
df1 = city_data.loc[filt1]

filt2 = df1['Max Temp'] < 93
df2 = df1.loc[filt2]

filt3 = df2['Wind Speed'] < 10
df3 = df2.loc[filt3]

filt4 = df3['Cloudiness'] < 5
df4 = df3.loc[filt4]

df4.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
83,83,pyapon,16.28,95.68,81.72,78,2,7.92,MM,1605408425
96,96,mareeba,-17.00,145.43,90.00,58,0,9.17,AU,1605408429
98,98,sao jose da coroa grande,-8.90,-35.15,77.14,83,1,7.99,BR,1605408430
155,155,srikakulam,18.30,83.90,79.18,62,0,8.23,IN,1605408372
161,161,salalah,17.02,54.09,71.60,53,0,4.70,OM,1605408449

In [8]:
locations = df4[["Lat", "Lng"]]

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
hotel_df = []
df4['Hotel Name'] = ''
df4.head()

<ipython-input-11-068c934c6893>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Hotel Name'] = ''

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
83,83,pyapon,16.28,95.68,81.72,78,2,7.92,MM,1605408425,
96,96,mareeba,-17.00,145.43,90.00,58,0,9.17,AU,1605408429,
98,98,sao jose da coroa grande,-8.90,-35.15,77.14,83,1,7.99,BR,1605408430,
155,155,srikakulam,18.30,83.90,79.18,62,0,8.23,IN,1605408372,
161,161,salalah,17.02,54.09,71.60,53,0,4.70,OM,1605408449,

In [31]:
# geocoordinates
radius = 5000
types = 'lodging'
key = g_key

params = {
    
    "radius": radius,
    "type": types,
    "key": g_key
}

for index, row in df4.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f'{lat},{lng}'
    
    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    name_address = requests.get(base_url, params=params)
   
    name_address = name_address.json()
    
    try:
        df4.loc[index,'Hotel Name'] = name_address['results'][0]['name']
    except:
        print('Missing filed/result ... skipping')
    
    
df4

/Users/verasong/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Missing filed/result ... skipping

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
83,83,pyapon,16.28,95.68,81.72,78,2,7.92,MM,1605408425,Aung Naing Thu Motel
96,96,mareeba,-17.00,145.43,90.00,58,0,9.17,AU,1605408429,Trinity Plains Tourist Park
98,98,sao jose da coroa grande,-8.90,-35.15,77.14,83,1,7.99,BR,1605408430,Crôa Mares Hotel
155,155,srikakulam,18.30,83.90,79.18,62,0,8.23,IN,1605408372,Sriram residency
161,161,salalah,17.02,54.09,71.60,53,0,4.70,OM,1605408449,HAMDAN PLAZA HOTEL
175,175,yining,29.04,114.56,71.13,50,0,0.49,CN,1605408453,Xiushui Hotel
207,207,bubaque,11.28,-15.83,84.36,59,0,8.99,GW,1605408463,"Casa Dora, Bubaque"
246,246,seminole,28.71,-81.21,72.00,94,1,4.70,US,1605408476,Ono Hot Dog Cart and Catering
263,263,tura,25.52,90.22,76.42,67,0,0.31,IN,1605408481,Hotel RIKMAN Continental
268,268,doha,25.29,51.53,71.60,46,0,2.24,QA,1605408351,Doha Marriott Hotel
272,272,teknaf,20.86,92.31,80.78,57,0,2.06,BD,1605408484,Magnum Engineering & Construction
276,276,cayenne,4.93,-52.33,75.20,100,0,9.73,GF,1605408485,Hôtel Le Dronmi
289,289,cairns,-16.92,145.77,89.01,58,3,9.17,AU,1605408364,Mantra Trilogy Cairns
306,306,kailua,21.40,-157.74,79.00,65,1,8.05,US,1605408495,Sheffield House Bed & Breakfast
307,307,jingdezhen,29.29,117.21,73.47,48,0,1.83,CN,1605408307,Garden Hotel
314,314,haimen,23.19,116.61,73.40,69,0,4.47,CN,1605408497,Jinghao Business Hotel
357,357,umm lajj,25.02,37.27,72.95,68,0,6.46,SA,1605408510,Moon light Furnished Units
371,371,naliya,23.27,68.83,76.24,62,0,4.21,IN,1605408514,Hotel Panchvati
373,373,maragogi,-9.01,-35.22,76.78,84,1,8.14,BR,1605408381,Salinas do Maragogi All Inclusive Resort
413,413,vila velha,-20.33,-40.29,81.00,88,0,3.36,BR,1605408529,Hotel Vitória Palace
419,419,dakar,14.69,-17.44,77.00,38,0,8.05,SN,1605408531,Novotel Dakar
421,421,flinders,-34.58,150.86,82.99,63,0,4.00,AU,1605408531,Shellharbour Resort & Conference Centre
465,465,alice,27.75,-98.07,77.00,88,1,9.17,US,1605408523,Holiday Inn Express & Suites Alice
468,468,kyaikto,17.30,97.02,82.90,64,0,3.44,MM,1605408546,သက်တန့်အိမ်
477,477,micheweni,-4.97,39.83,77.77,77,0,3.51,TZ,1605408550,
510,510,upata,8.01,-62.40,80.01,89,2,1.01,VE,1605408560,Posada Villa Nela
538,538,karratha,-20.74,116.85,91.20,18,0,4.88,AU,1605408378,ibis Styles Karratha
539,539,yadgir,16.77,77.13,77.09,59,0,8.57,IN,1605408568,Hotel SLV yadgir
554,554,ampere,-25.91,-53.47,70.32,71,1,2.35,BR,1605408573,Zanon Hotel Express

In [36]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in df4.iterrows()]
locations = df4[["Lat", "Lng"]]

In [37]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
#Figure(layout = FigureLayout(height='420px'))